*{
    box-sizing: border-box;
}

body{
    background-color: black;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;

}
header{
    margin: 0px;
}
h1{ 
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color: gray;
    font-size: 20px;
    font-family: sans-serif;
}


button{
    color: black;
    border-left: 4px solid rgb(0, 0, 0);
    border-right: 4px solid rgb(0, 0, 0);
    border-top: none;
    border-bottom: none;
    background: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 30px;
    transition: 0.3s ease-in-out;
}
button:hover{
    background-color: lightgray;
    color: white;
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}

.navbar{
    position: sticky;
    top: 0px;
    z-index: 100;
    padding-bottom: 50px;
    
}
.navbar a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 25px;
    font-family: 'Courier New', Courier, monospace;
}
.navbar a:hover{
    background-color: #1A1A1A;
    color: white;
    border-style: solid 1px;
    border-radius: 50px;
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 30px;
    overflow: hidden;
    display: block;
}
.navbar li{
    float: right;
    transition: 0.3s ease-in-out;

}
.navbar li:hover{
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}

.container{
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    display: flow-root;
    background-color: rgb(255, 255, 255);
}
.container h1{
    text-align: left;
    padding-top: 50px;
    padding-left: 10%;
    color: black;
    width: 50%;

}
.container p{
    text-align: left;
    max-width: 50%;
    padding-left: 10%;
    color: rgb(67, 67, 67);
    font-family: 'Courier New', Courier, monospace;}    

.container img{
    max-width: 50%;
    width: 500px;
    height: auto;
    float: right;
    padding-right: 50px;
    padding-top: 20px;
}
.container button{
    margin-left: 10%;
    margin-top: 20px;
}

.fa-solid.fa-file{
    padding-right: 20px;
}
.fa-brands.fa-linkedin{
    padding-right: 20px;
}
.fa-solid.fa-code{
    padding-right: 30px;
}
.aboutme{
    width: 100%;
    height: auto;
    background-color: gray;
    display: flow-root;
    padding-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;

}
.aboutme h2{
    text-align: left;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 7%;
    color: black;
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
}
.aboutme p{
    text-align: left;
    width: 90%;
    padding-left: 5%;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
} 
.aboutme button{
    margin-left: 5%;
    margin-top: 20px;
}
.aboutme button:hover{
    background-color: lightgray;
}
.fa-brands.fa-github{
    padding-right: 10px;
}
.skills{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flow-root;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}
.skills h2{
    text-align: center;
    font-weight: bold;
    border: solid 4px black;
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 30px;
    margin-top: 80px;
    display: inline-block;
}
.skills p{
    padding: 20px;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
} 
.skills ul{
    list-style-type: none;
    display: block;
    margin: auto;
}
.skills li{
    display: inline-block;
    padding: 50px;
    transition: 0.3s ease-in-out;

}
.skills li:hover{
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
    color: gray;

}     

.skills-list i{
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
    font-size: 50px;

    
}


.skills-list span{
    display: block;
    margin: auto;
    padding-top: 10px;
    font-size: 20px;
    color: black;
    transition: 0.3s ease-in-out;
}

.skills-list span:hover{
    color: gray;
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}



#form{
    width: 100%;
    height: auto;
    display: flow-root;
    padding-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;

}
#form input{
    width: 30%;
    padding: 15px;
    border-left: solid 4px rgb(0, 0, 0);
    border-bottom: solid 4px rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin: auto;
    margin-top: 20px;
    overflow: auto;
    transition: 0.3s ease-in-out;
}
#form input:hover{
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;   
}

#form textarea{
    width: 30%;
    height: 100px;
    padding: 15px;
    border-left: solid 4px rgb(0, 0, 0);
    border-bottom: solid 4px rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin: auto;
    margin-top: 50px;
    overflow: auto;
    transition: 0.3s ease-in-out;
}
#form textarea:hover{
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}

#form button{
    margin-top: 40px;
}
input, textarea {
    outline: none;
    border: none;

}
.fa-solid.fa-paper-plane{
    padding-right: 10px;
}



/*Footer CSS*/

.footer-content{
    width: 100%;
    padding: 30px;
    height: auto;
    background-color: #1A1A1A;
    display: flow-root;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.footer-content p{
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}
.footer-content a{
    text-decoration: none;
}
.footer-content i{
    transition: 0.3s ease-in-out;
}
.footer-content i:hover{
    color: gray;
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}

.fa-brands.fa-square-instagram.fa-2xl{
    color: white;
    padding: 10px;
}
.fa-brands.fa-linkedin.fa-2xl{
    color: white;
    padding: 10px;
}
.fa-brands.fa-github.fa-2xl{
    color: white;
    padding: 10px;
}
.fa-brands.fa-square-facebook.fa-2xl{
    color: white;
    padding: 10px;
}
.fa-solid.fa-angles-up.fa-lg{
    color: white;
    cursor: pointer;
    padding-bottom: none;
}

